<ion-app>
    <ion-split-pane contentId="content">
        <ion-menu side="start" #menu contentId="content">
                <ion-header>
                    <ion-toolbar translucent>
                        <ion-title>Tierklinik Dobersberg</ion-title>
                    </ion-toolbar>
                </ion-header>

                <ion-content>
                    <ion-list>
                        <ion-item (click)="menu.close()" routerLinkActive="active-menu" routerLink="/xray">
                            <ion-icon name="paw" slot="start"></ion-icon>
                            <ion-label>Röntgen</ion-label>
                        </ion-item>
        
                        <ion-item (click)="menu.close()" routerLinkActive="active-menu" routerLink="/calendar">
                            <ion-icon name="calendar" slot="start"></ion-icon>
                            <ion-label>Termine</ion-label>
                        </ion-item>
        
                        <ion-item (click)="menu.close()" routerLinkActive="active-menu" routerLink="/profile">
                            <ion-icon name="person" slot="start"></ion-icon>
                            <ion-label>Profile</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-menu>
        
            <div class="ion-page" id="content">
                <ion-router-outlet></ion-router-outlet>
            </div>
    </ion-split-pane>
</ion-app>